<h1>CIS 196 Twitter Clone</h1>

<p>Welcome to your first Ruby on Rails assignment!</p>
<p>You will be creating a very simple Twitter Clone that makes use of your homework 2 assignment. By the end of it, you should be able to see all users, create new users, look at their tweets, and create new tweets for them. Have fun!</p>
